
.backgroundImage {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
}

.backgroundImageStar {
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
}

form {
 margin: 0px;
}
P {text-indent: 10px; margin: 0px; padding-top:0px;}

.text_blue, .text_blue_blue {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #d0e7f7; color: #448CCB;
}
.text_black {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #e2e2e2; color: #707070; 
}
.text_black_blue {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #d0e7f7; color: #707070; 
}


.text_red {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #F9D4D4; color: #CE3535; 
}

.text_red_blue {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #d0e7f7; color: #CE3535; 
}


.text_green {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #DAF28E; color: #008040; 
}
.text_green_blue {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #d0e7f7; color: #008040; 
}


.text_white {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #ffffff; color: #A9A9A9; 
}
.text_white_blue {
	font-family: Verdana; font-size:14px; text-align: left; background-color: #d0e7f7; color: #A9A9A9; 
}


.textsmall_blue, .textsmall_blue_blue {
	font-family: Verdana; font-size:11px; background-color: #d0e7f7; color: #448CCB;
}
.textsmall_black {
	font-family: Verdana; font-size:11px; background-color: #e2e2e2; color: #707070;
}
.textsmall_black_blue {
	font-family: Verdana; font-size:11px; background-color: #d0e7f7; color: #707070;
}
.textsmall_red{
	font-family: Verdana; font-size:11px; background-color: #F9D4D4; color: #CE3535;
}
.textsmall_red_blue{
	font-family: Verdana; font-size:11px; background-color: #d0e7f7; color: #CE3535;
}
.textsmall_green{
	font-family: Verdana; font-size:11px; background-color: #DAF28E; color: #008040;
}
.textsmall_green_blue{
	font-family: Verdana; font-size:11px; background-color: #d0e7f7; color: #008040;
}
.textsmall_white {
	font-family: Verdana; font-size:11px; background-color: #ffffff; color: #A9A9A9;
}
.textsmall_white_blue {
	font-family: Verdana; font-size:11px; background-color: #d0e7f7; color: #A9A9A9;
}

.title_blue {
	background-color: #448CCB; background: linear-gradient(0deg, rgba(71,141,203,1) 25%, rgba(130,188,228,1) 75%);
	font-size: 14px; font-family: "Verdana"; color:#ffffff;  font-weight:bold; text-align:center; height:20px; width:100%;
}
.title_black{
	background-color: #e2e2e2; background: linear-gradient(0deg, rgba(136,136,136,1) 25%, rgba(187,187,187,1) 75%);
	font-size: 14px; font-family: "Verdana"; color:#ffffff;  font-weight:bold; text-align:center; height:20px; width:100%;
}
.title_red{
	background-color: #F9D4D4; background: linear-gradient(0deg, rgba(253,27,29,1) 25%, rgba(255,127,126,1) 75%);
	font-size: 14px; font-family: "Verdana"; color:#ffffff;  font-weight:bold; text-align:center; height:20px; width:100%;
}
.title_green{
	background-color: #DAF28E; background: linear-gradient(0deg, rgba(36,163,74,1) 25%, rgba(138,211,140,1) 75%);
	font-size: 14px; font-family: "Verdana"; color:#ffffff;  font-weight:bold; text-align:center; height:20px; width:100%;
}

.title_white{
	background-color: #ffffff; background: linear-gradient(0deg, rgba(204,204,204,1) 25%, rgba(238,238,238,1) 75%);
	font-size: 14px; font-family: "Verdana"; color:#A9A9A9;  font-weight:bold; text-align:center; height:20px; width:100%;
}



.title_gradient_blue{
	background-color: #d0e7f7; background-image: url('images/icons/styles/sunshine.gif');
	font-size: 14px; font-family: "Verdana"; color:#448CCB;  font-weight:bold; text-align:center; height:20px; width:100%;
}
	
.title_gradient_black{
	background-color: #e2e2e2; background-image: url('images/icons/styles/sunshine.gif');
	font-size: 14px; font-family: "Verdana"; color:#707070;  font-weight:bold; text-align:center; height:20px; width:100%;
}

.title_gradient_red{
	background-color: #F9D4D4; background-image: url('images/icons/styles/sunshine.gif');
	font-size: 14px; font-family: "Verdana"; color:#CE3535;  font-weight:bold; text-align:center; height:20px; width:100%;
}

.title_gradient_green{
	background-color: #DAF28E; background-image: url('images/icons/styles/sunshine.gif');
	font-size: 14px; font-family: "Verdana"; color:#008080;  font-weight:bold; text-align:center; height:20px; width:100%;
}


.title_gradient_white{
	background-color: #ffffff; background-image: url('images/icons/styles/sunshine.gif');
	font-size: 14px; font-family: "Verdana"; color:#A9A9A9;  font-weight:bold; text-align:center; height:20px; width:100%;
}


.flag_not_selected {
	cursor:default; 
	font-size: 11px; font-family: "Verdana"; padding-top:2px; padding-left:2px; padding-right:2px;
}
.flag_selected {
	background-color: #ff8a00; cursor:pointer; 
	font-size: 11px; font-family: "Verdana"; color:#707070; padding-top:2px; padding-left:2px; padding-right:2px;
}



.menu_not_selected_blue {
	background-color: #d0e7f7; background: linear-gradient(0deg, rgba(119,187,226,1) 0%, rgba(228,241,250,1) 100%);
	font-size: 13px; font-family: "Verdana"; font-weight:bold; height:17px; padding-top:2px; padding-bottom:4px;
	color:#448CCB; cursor:default; 
}
.menu_not_selected_black {
	background-color: #e2e2e2; background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(238,238,238,1) 100%);
	font-size: 13px; font-family: "Verdana"; font-weight:bold; height:17px; padding-top:2px; padding-bottom:4px;
	color:#707070; cursor:default; 
}
.menu_not_selected_red {
	background-color: #F9D4D4; background: linear-gradient(0deg, rgba(255,150,150,1) 0%, rgba(255,236,237,1) 100%);
	font-size: 13px; font-family: "Verdana"; font-weight:bold; height:17px; padding-top:2px; padding-bottom:4px;
	color:#CE3535; cursor:default; 
}
.menu_not_selected_green {
	background-color: #DAF28E; background: linear-gradient(0deg, rgba(93,201,81,1) 0%, rgba(207,250,197,1) 100%);
	font-size: 13px; font-family: "Verdana"; font-weight:bold; height:17px; padding-top:2px; padding-bottom:4px;
	color:#008080; cursor:default; 
}

.menu_not_selected_white {
	background-color: #ffffff; background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
	font-size: 13px; font-family: "Verdana"; font-weight:bold; height:17px; padding-top:2px; padding-bottom:4px;
	color:#A9A9A9; cursor:default; 
}


.menu_selected {
	background-color: #ff8a00; background: linear-gradient(0deg, rgba(247,68,27,1) 0%, rgba(251,183,10,1) 100%);
	font-size: 13px; font-family: "Verdana"; font-weight:bold; height:17px; padding-top:2px; padding-bottom:4px;
	color:#ffffff; cursor:pointer; 
}






.nimetus2_blue, .nimetus2_blue_blue {
	font-family: Verdana; font-weight: bold; text-align: center; color: #448CCB; font-size: 14px; background-color: #d0e7f7; 
}

.nimetus_blue {
	font-family: Verdana; font-weight: bold; text-align: left; color: #448CCB; font-size: 14px; background-color: #d0e7f7; padding-left:10px; padding-right:10px;
}

.nimetus2_black {
	font-family: Verdana; font-weight: bold; text-align: center; color: #808080; font-size: 14px; background-color: #e2e2e2; 
}

.nimetus2_black_blue {
	font-family: Verdana; font-weight: bold; text-align: center; color: #808080; font-size: 14px; background-color: #d0e7f7; 
}

.nimetus_black {
	font-family: Verdana; font-weight: bold; text-align: left; color: #808080; font-size: 14px; background-color: #e2e2e2; padding-left:10px; padding-right:10px;
}
.nimetus3_black {
	font-family: Verdana; font-weight: bold; text-align: right; color: #808080; font-size: 14px; background-color: #e2e2e2; padding-left:10px; padding-right:10px;
}

.nimetus_red{
	font-family: Verdana; font-weight: bold; text-align: left; color: #CE3535; font-size: 14px; background-color: #F9D4D4; padding-left:10px; padding-right:10px;
}

.nimetus2_red {
	font-family: Verdana; font-weight: bold; text-align: center; color: #CE3535; font-size: 14px; background-color: #F9D4D4; 
}

.nimetus3_red {
	font-family: Verdana; font-weight: bold; text-align: left; color: #CE3535; font-size: 14px; background-color: #F9D4D4;
}

.nimetus2_red_blue {
	font-family: Verdana; font-weight: bold; text-align: center; color: #CE3535; font-size: 14px; background-color: #d0e7f7; 
}

.nimetus_green {
	font-family: Verdana; font-weight: bold; text-align: left; color: #008040; font-size: 14px; background-color: #DAF28E; padding-left:10px; padding-right:10px;
}

.nimetus2_green {
	font-family: Verdana; font-weight: bold; text-align: center; color: #008040; font-size: 14px; background-color: #DAF28E; 
}

.nimetus2_green_blue {
	font-family: Verdana; font-weight: bold; text-align: center; color: #008040; font-size: 14px; background-color: #d0e7f7; 
}

.nimetus_white {
	font-family: Verdana; font-weight: bold; text-align: left; color: #A9A9A9; font-size: 14px; background-color: #ffffff; padding-left:10px; padding-right:10px;
}

.nimetus2_white {
	font-family: Verdana; font-weight: bold; text-align: center; color: #A9A9A9; font-size: 14px; background-color: #ffffff; 
}

.nimetus2_white_blue {
	font-family: Verdana; font-weight: bold; text-align: center; color: #A9A9A9; font-size: 14px; background-color: #d0e7f7; 
}


a.standardb_blue:link {
	font-family: Verdana; font-size: 14px; color: #448CCB; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #84bde4;
}
a.standardb_blue:visited {
	font-family: Verdana; font-size: 14px; color: #448CCB; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #84bde4;
}
a.standardb_blue:hover {
	font-family: Verdana; font-size: 14px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.standardb_blue:active {
	font-family: Verdana; font-size: 14px; color: #448CCB; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #84bde4;
}


	
a.standardb_black:link {
	font-family: Verdana; font-size: 14px; color: #707070; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #b0b0b0;
}
a.standardb_black:visited {
	font-family: Verdana; font-size: 14px; color: #707070; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #b0b0b0;
}
a.standardb_black:hover {
	font-family: Verdana; font-size: 14px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.standardb_black:active {
	font-family: Verdana; font-size: 14px; color: #707070; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #b0b0b0;
}


a.standardb_red:link {
	font-family: Verdana; font-size: 14px; color: #CE3535; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #de8e8e;
}
a.standardb_red:visited {
	font-family: Verdana; font-size: 14px; color: #CE3535; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #de8e8e;
}
a.standardb_red:hover {
	font-family: Verdana; font-size: 14px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.standardb_red:active {
	font-family: Verdana; font-size: 14px; color: #CE3535; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #de8e8e;
}


a.standardb_green:link {
	font-family: Verdana; font-size: 14px; color: #008040; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #68c496;
}
a.standardb_green:visited {
	font-family: Verdana; font-size: 14px; color: #008040; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #68c496;
}
a.standardb_green:hover {
	font-family: Verdana; font-size: 14px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.standardb_green:active {
	font-family: Verdana; font-size: 14px; color: #008040; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #68c496;
}


a.standardb_white:link {
	font-family: Verdana; font-size: 14px; color: #A9A9A9; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #dbd9d9;
}
a.standardb_white:visited {
	font-family: Verdana; font-size: 14px; color: #A9A9A9; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #dbd9d9;
}
a.standardb_white:hover {
	font-family: Verdana; font-size: 14px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.standardb_white:active {
	font-family: Verdana; font-size: 14px; color: #A9A9A9; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #dbd9d9;
}



a.smallb_black:link {
	font-size: 12px; color: #707070; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #b0b0b0;
}
a.smallb_black:visited {
	font-size: 12px; color: #707070; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #b0b0b0;
}
a.smallb_black:hover {
	font-size: 12px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.smallb_black:active {
	font-size: 12px; color: #707070; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #b0b0b0;
}



a.smallb_white:link {
	font-size: 12px; color: #A9A9A9; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #dbd9d9;
}
a.smallb_white:visited {
	font-size: 12px; color: #A9A9A9; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #dbd9d9;
}
a.smallb_white:hover {
	font-size: 12px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.smallb_white:active {
	font-size: 12px; color: #A9A9A9; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #dbd9d9;
}



a.smallb_green:link {
	font-size: 12px; color: #008040; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #68c496;
}
a.smallb_green:visited {
	font-size: 12px; color: #008040; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #68c496;
}
a.smallb_green:hover {
	font-size: 12px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.smallb_green:active {
	font-size: 12px; color: #008040; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #68c496;
}



a.smallb_red:link {
	font-size: 12px; color: #CE3535; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #de8e8e;
}
a.smallb_red:visited {
	font-size: 12px; color: #CE3535; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #de8e8e;
}
a.smallb_red:hover {
	font-size: 12px; color: #ff8a00; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #ff8a00;
}
a.smallb_red:active {
	font-size: 12px; color: #CE3535; text-decoration: none; font-weight: bold;
 text-shadow: 2px 2px 4px #de8e8e;
}


.thumbnail_image {
box-shadow: 0px 10px 5px #b0b0b0;
}

.thumbnail_image:hover {
box-shadow: 0px 10px 5px #ff8a00;
}

.thumbnail_image_png {
box-shadow: 0px -10px 10px -5px #b0b0b0 inset; 
}

.thumbnail_image_png:hover {
box-shadow: 0px -10px 10px -5px #ff8a00 inset; 
}

.thumbnail_image_both {
box-shadow: 0px -10px 10px -5px #b0b0b0 inset, 0px 5px 5px #b0b0b0; 
}

.thumbnail_image_both:hover {
box-shadow: 0px -10px 10px -5px #ff8a00 inset, 0px 5px 5px #ff8a00; 
}



.thumbnail_image_blue {
box-shadow: 0px 10px 5px #84bde4;
}

.thumbnail_image_blue:hover {
box-shadow: 0px 10px 5px #ff8a00;
}

.thumbnail_image_blue_png {
box-shadow: 0px -10px 10px -5px #84bde4 inset; 
}

.thumbnail_image_blue_png:hover {
box-shadow: 0px -10px 10px -5px #ff8a00 inset; 
}

.thumbnail_image_blue_both {
box-shadow: 0px -10px 10px -5px #84bde4  inset, 0px 5px 5px #84bde4; 
}

.thumbnail_image_blue_both:hover {
box-shadow: 0px -10px 10px -5px #ff8a00 inset, 0px 5px 5px #ff8a00; 
}



.thumbnail_image_red {
box-shadow: 0px 10px 5px #de8e8e;
}

.thumbnail_image_red:hover {
box-shadow: 0px 10px 5px #ff8a00;
}

.thumbnail_image_red_png {
box-shadow: 0px -10px 10px -5px #de8e8e inset; 
}

.thumbnail_image_red_png:hover {
box-shadow: 0px -10px 10px -5px #ff8a00 inset; 
}

.thumbnail_image_red_both {
box-shadow: 0px -10px 10px -5px #de8e8e inset, 0px 5px 5px #de8e8e; 
}

.thumbnail_image_red_both:hover {
box-shadow: 0px -10px 10px -5px #ff8a00 inset, 0px 5px 5px #ff8a00; 
}



// ------------------------------------------------------------ Font ---------------------------------------------//
/* cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc3.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc5.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc6.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(fonts/alegreya_sans_sc7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
// ---------------------------------------------------------- End of Font --------------------------------------//